body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #4C97FF;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #4280D7;
}

.topnav a.active {
  background-color: #4280D7;
  color: white;
}

h2 {
  text-align: center;
  font-weight: bold;
}

p.content {
  text-align: center;
}
